.podcast {
    display: flex;
    flex-wrap: wrap;
}
.podcaster {
    text-align: left;
    margin-top: 50px;
    margin-left: 20px ;
    color:deepskyblue;
    
}
.ResultPodcast {
    box-shadow:10px 10px 10px grey;
    width: 33%;
    margin-top: 10%;
}
.foto{
    border-radius: 50%;
    width: 25%;
    position: relative;
    
    
}
.titulo{
    font-weight: bold;
}